.card {
  background-color: white;
  width: 280px;
  min-height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;       
}
